.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.981445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.956000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.972000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.929000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-ms-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-webkit-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:52.812000px;}
._2{width:80.112009px;}
._0{width:167.640000px;}
.fc0{color:rgb(153,153,153);}
.fc5{color:rgb(46,68,64);}
.fc4{color:rgb(0,0,0);}
.fc1{color:rgb(66,66,66);}
.fc2{color:rgb(233,29,99);}
.fc3{color:rgb(102,102,102);}
.fs2{font-size:15.990000px;}
.fs0{font-size:31.979999px;}
.fs1{font-size:36.000000px;}
.fs6{font-size:37.107951px;}
.fs5{font-size:39.990000px;}
.fs4{font-size:43.979999px;}
.fs3{font-size:96.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.750000px;}
.y2f{bottom:15.000000px;}
.y2e{bottom:54.750000px;}
.y2d{bottom:66.000000px;}
.y2c{bottom:82.500000px;}
.y2b{bottom:101.250000px;}
.y2a{bottom:118.500000px;}
.y29{bottom:129.750000px;}
.y28{bottom:145.500000px;}
.y27{bottom:161.250000px;}
.y26{bottom:180.750000px;}
.y25{bottom:192.000000px;}
.y24{bottom:207.750000px;}
.y23{bottom:223.500000px;}
.y22{bottom:242.250000px;}
.y21{bottom:261.000000px;}
.y20{bottom:278.250000px;}
.y1f{bottom:289.500000px;}
.y1e{bottom:305.250000px;}
.y1d{bottom:321.000000px;}
.y1c{bottom:340.500000px;}
.y1b{bottom:351.750000px;}
.y1a{bottom:363.000000px;}
.y19{bottom:374.250000px;}
.y18{bottom:385.500000px;}
.y17{bottom:396.750000px;}
.y16{bottom:408.000000px;}
.y15{bottom:419.250000px;}
.y14{bottom:435.000000px;}
.y13{bottom:450.750000px;}
.y12{bottom:470.250000px;}
.y11{bottom:481.500000px;}
.y10{bottom:492.750000px;}
.yf{bottom:510.000000px;}
.ye{bottom:521.250000px;}
.yd{bottom:537.000000px;}
.yc{bottom:552.750000px;}
.yb{bottom:571.500000px;}
.ya{bottom:590.250000px;}
.y9{bottom:607.500000px;}
.y8{bottom:618.750000px;}
.y7{bottom:635.250000px;}
.y6{bottom:663.000000px;}
.y5{bottom:678.000000px;}
.y4{bottom:720.750000px;}
.y3{bottom:733.500000px;}
.y2{bottom:746.250000px;}
.h6{height:23.409360px;}
.h9{height:24.732594px;}
.h4{height:25.200000px;}
.h7{height:26.127660px;}
.hc{height:26.352000px;}
.h2{height:27.369141px;}
.ha{height:28.472880px;}
.hb{height:29.272680px;}
.h8{height:30.192450px;}
.h5{height:35.931660px;}
.h3{height:78.432000px;}
.h1{height:791.250000px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:89.250000px;}
.x4{left:108.000000px;}
.x5{left:126.000000px;}
.x7{left:210.750000px;}
.x6{left:227.347913px;}
.x3{left:232.595580px;}
.x2{left:524.250000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:70.416000pt;}
._2{width:106.816012pt;}
._0{width:223.520000pt;}
.fs2{font-size:21.320000pt;}
.fs0{font-size:42.639999pt;}
.fs1{font-size:48.000000pt;}
.fs6{font-size:49.477268pt;}
.fs5{font-size:53.320000pt;}
.fs4{font-size:58.639999pt;}
.fs3{font-size:128.000000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:1.000000pt;}
.y2f{bottom:20.000000pt;}
.y2e{bottom:73.000000pt;}
.y2d{bottom:88.000000pt;}
.y2c{bottom:110.000000pt;}
.y2b{bottom:135.000000pt;}
.y2a{bottom:158.000000pt;}
.y29{bottom:173.000000pt;}
.y28{bottom:194.000000pt;}
.y27{bottom:215.000000pt;}
.y26{bottom:241.000000pt;}
.y25{bottom:256.000000pt;}
.y24{bottom:277.000000pt;}
.y23{bottom:298.000000pt;}
.y22{bottom:323.000000pt;}
.y21{bottom:348.000000pt;}
.y20{bottom:371.000000pt;}
.y1f{bottom:386.000000pt;}
.y1e{bottom:407.000000pt;}
.y1d{bottom:428.000000pt;}
.y1c{bottom:454.000000pt;}
.y1b{bottom:469.000000pt;}
.y1a{bottom:484.000000pt;}
.y19{bottom:499.000000pt;}
.y18{bottom:514.000000pt;}
.y17{bottom:529.000000pt;}
.y16{bottom:544.000000pt;}
.y15{bottom:559.000000pt;}
.y14{bottom:580.000000pt;}
.y13{bottom:601.000000pt;}
.y12{bottom:627.000000pt;}
.y11{bottom:642.000000pt;}
.y10{bottom:657.000000pt;}
.yf{bottom:680.000000pt;}
.ye{bottom:695.000000pt;}
.yd{bottom:716.000000pt;}
.yc{bottom:737.000000pt;}
.yb{bottom:762.000000pt;}
.ya{bottom:787.000000pt;}
.y9{bottom:810.000000pt;}
.y8{bottom:825.000000pt;}
.y7{bottom:847.000000pt;}
.y6{bottom:884.000000pt;}
.y5{bottom:904.000000pt;}
.y4{bottom:961.000000pt;}
.y3{bottom:978.000000pt;}
.y2{bottom:995.000000pt;}
.h6{height:31.212479pt;}
.h9{height:32.976792pt;}
.h4{height:33.600000pt;}
.h7{height:34.836879pt;}
.hc{height:35.136000pt;}
.h2{height:36.492188pt;}
.ha{height:37.963840pt;}
.hb{height:39.030240pt;}
.h8{height:40.256600pt;}
.h5{height:47.908879pt;}
.h3{height:104.576000pt;}
.h1{height:1055.000000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:119.000000pt;}
.x4{left:144.000000pt;}
.x5{left:168.000000pt;}
.x7{left:281.000000pt;}
.x6{left:303.130550pt;}
.x3{left:310.127440pt;}
.x2{left:699.000000pt;}
}
